html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.vertical-center {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-cover {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;;
    -o-background-size: cover !important;;
    background-size: cover !important;;
}

.form-signin-heading {
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    /*text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/
    color: #2196F3;
    font-size: 4em;
    text-align: center;
    line-height: 1.2;
    margin: 0;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.35);
}

.subtitle {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 25px;
    color: #333333;
}

input[type="checkbox"]:after,
.checkbox input[type="checkbox"]:after,
.checkbox-inline input[type="checkbox"]:after {
    border: 2px solid #FFFFFF;
}

.form-group-input {
    width: 100%;
}

.mainsec {
    min-height: 100%;
    overflow: hidden;
}

#inputEmail, #inputPassword, #inputSearch {
    color: #333333;
}

#inputEmail::-webkit-input-placeholder,
#inputPassword::-webkit-input-placeholder,
#inputSearch::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #333333;
}

#inputEmail:-moz-placeholder,
#inputPassword:-moz-placeholder,
#inputSearch:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #333333;
    opacity: 1;
}

#inputEmail::-moz-placeholder,
#inputPassword::-moz-placeholder,
#inputSearch::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #333333;
    opacity: 1;
}

#inputEmail:-ms-input-placeholder,
#inputPassword:-ms-input-placeholder,
#inputSearch:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #333333;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 65px 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

.huge {
    font-size: 40px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 66px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}